body{
    background-color: #f2f2f2;
}

input, select, textarea{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80%;

  }
  
  input[type=submit] {
    background-color: #d88a56;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:80%;
  }
  
  input[type=submit]:hover {
    background-color: #db9e4f;
    width:80%;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.formcontainer{
    display:flex;
    flex-direction: column;
    align-items: left;
    width:90%;
}

.inputcontainer{
    display:flex;
    flex-direction: column;
    align-items: left;
    width:100%;
    margin:0px;
    padding: 0px;
}

img{
  padding: 10px;
  margin: 20px;
  border: 2px #db9e4f solid;
}

.title{
  padding-left: 20px;
}

#descripcion{
  height: 100px;  
  padding-top: 0px;
  text-align: left;
  top: 0px;
}


.radiocontainer{
  text-align: left;
  padding: 0px;
  padding-top: 10px;

}

.radiocontainer div{
  text-align: left;
  padding: 0px;
}

.radiocontainer div input{
  width: 50px;
}

.log-in{
  align-items: right;
  color: #d88a56;
}

.logoutcontainer{
  align-items: right;
  padding-left: 70%;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 50px;
}

.editar-datos, .log-in{
  margin: 20px;
  color: #d88a56;
}

.iconcontainer{
  display: flex;
  flex-direction: row;
  padding: 0px;
}

#id{
  display: none;
}





