<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <img src="/images/logo.png" alt="logo">

    <h1 class = "title">Datos de cotización</h1>

    <div class="formcontainer">

        <form action="/cotizacion" method ="post">

            <div class="inputcontainer">
                <label for="num">Número de cotización</label>
                <input type="number" id="num" name="num" placeholder="Número de cotización" required>
            </div>

            <div class="inputcontainer">
                <label for="text">Cliente</label>
                <input type="text" list = "cl" id="cli" name="selectclient" placeholder = "Seleccionar el cliente de la lista, si no se encuentra debe añadirlo" required>
                    <datalist id="cl" class = "datalist">
                    <% for (let i = 0; i< clientes.length; i++){ %>
                        <option value="<%= clientes[i].client %>"><%= clientes[i].client %></option>
                    <% } %>
                    </datalist>
           </div>

            <div class="inputcontainer">
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" onkeydown="return false" required />
            </div> 

            <div class="inputcontainer">
                <label for="validez">Validez de la oferta</label>
                <input type="text" id="validez" name="validez" placeholder="Validez de la oferta" list = "valid" required>
                <datalist id="valid">
                    <option value="5 días">5 días</option>
                    <option value="10 días">10 días</option>
                    <option value="15 días">15 días</option>
                    <option value="20 días">20 días</option>
                    <option value="30 días">30 días</option>
                </datalist>
            </div>    

            <div class="inputcontainer">
                <label for="entrega">Tiempo de entrega</label>
                <input type="text" id="entrega" name="entrega" placeholder="Tiempo de entrega" list = "deliv" required>
                <datalist id="deliv">
                    <option value="1 día hábil">1 día hábil</option>
                    <option value="2 días hábiles">2 días hábiles</option>
                    <option value="3 días hábiles">3 días hábiles</option>
                    <option value="4 días hábiles">4 días hábiles</option>
                    <option value="5 días hábiles">5 días hábiles</option>
                    <option value="10 días hábiles">10 días hábiles</option>
                    <option value="15 días hábiles">15 días hábiles</option>
                    <option value="20 días hábiles">20 días hábiles</option>
                    <option value="30 días hábiles">30 días hábiles</option>
                </datalist>
            </div>       

            <div class="inputcontainer">
                <label for="condiciones">Condiciones de pago</label>
                <input type="text" list = "cond" name="selectcondiciones" required>
                <datalist id="cond">
                    <option value="Contado">Contado</option>
                    <option value="Crédito a 15 días">Crédito a 15 días</option>
                    <option value="Crédito a 30 días">Crédito a 30 días</option>
                    <option value="Contra entrega">Contra entrega</option>
                </datalist>
            </div>    
            
            <div class="inputcontainer">
                <label for="estado">Estado</label>
                <select name="selectestado" required>
                    <option value="" selected></option>
                    <option value="Aprobado">Aprobado</option>
                    <option value="En trámite">En trámite</option>
                    <option value="No aprobado">No aprobado</option>
                </select>
            </div>    

            <div class="inputcontainer">
                <label for="fecha_aprobacion">Fecha de aprobación</label>
                <input type="date" id="fecha_aprobacion" name="fecha_aprobacion" onkeydown="return false" required />
            </div>   

            <div class="inputcontainer">
                <label for="proyecto">Proyecto</label>
                <input type="text" id="proyecto" name="proyecto" placeholder="Nombre del proyecto" required>
            </div>  

            <div class="inputcontainer">

                <label for="condiciones_com">Forma de pago</label>
                <input type="text" list = "payment" name="forma_pago" required>
                <datalist id="payment">
                    <option value="Forma de Pago: Contra Entrega.">Forma de Pago: Contra Entrega.</option>
                    <option value="Forma de Pago: 50% Anticipo y 50% Contra Entrega.">Forma de Pago: 50% Anticipo y 50% Contra Entrega.</option>
                    <option value="Forma de Pago: 100% de Anticipo.">Forma de Pago: 100% de Anticipo.</option>
                    <option value="Forma de Pago: Crédito a 15 días.">Forma de Pago: Crédito a 15 días.</option>
                    <option value="Forma de Pago: Crédito a 30 días.">Forma de Pago: Crédito a 30 días.</option>
                </datalist>
            </div>    

            <div class="inputcontainer">

                <label for="transport">Transporte</label>
                <input type="text" list = "trans" name="transporte" required>
                <datalist id="trans">
                    <option value="El servicio no incluye transporte.">El servicio no incluye transporte.</option>
                    <option value="El servicio si incluye transporte.">El servicio si incluye transporte.</option>
                </datalist>
            </div>    

            <div class="inputcontainer">

                <label for="materiales">Materiales</label>
                <input type="text" list = "mat" name="materiales" required>
                <datalist id="mat">
                    <option value="El servicio no incluye materiales.">El servicio no incluye materiales.</option>
                    <option value="El servicio si incluye materiales.">El servicio si incluye materiales.</option>
                    <option value="El servicio incluye algunos materiales.">El servicio incluye algunos materiales.</option>
                </datalist>
            </div>    

            <div class="inputcontainer">
                <label for="forma">Forma</label>
                <select name="forma" required>
                    <option value=""></option>
                    <option value="Platina">Platina</option>
                    <option value="Disco">Disco</option>
                    <option value="Flange">Flange</option>
                    <option value="Figura">Figura</option>
                </select>
            </div>   

            <div class="inputcontainer">
                <label for="material">Material</label>
                <select name="material" required>
                    <option value=""></option>
                    <option value="Ac. Inox.">Ac. Inox.</option>
                    <option value="Ac. H.R">Ac. H.R</option>
                    <option value="Ac. C.R">Ac. C.R</option>
                    <option value="Galv.">Galv.</option>
                    <option value="Alum.">Alum.</option>
                </select>
            </div> 

            <div class="inputcontainer">
                <label for="espesor">Espesor</label>
                <select name="espesor" required>
                    <option value=""></option>
                    <option value="Cal. 20 (0.9 mm)">Cal. 20 (0.9 mm)</option>
                    <option value="Cal. 19 (1 mm)">Cal. 19 (1 mm)</option>
                    <option value="Cal. 18 (1.2 mm)">Cal. 18 (1.2 mm)</option>
                    <option value="Cal. 16 (1.5 mm)">Cal. 16 (1.5 mm)</option>
                    <option value="Cal. 14 (1.9 mm)">Cal. 14 (1.9 mm)</option>
                    <option value="Cal. 13 (2.2 mm)">Cal. 13 (2.2 mm)</option>
                    <option value="Cal. 12 (2.6 mm)">Cal. 12 (2.6 mm)</option>
                    <option value="Cal. 11 (3.0 mm)">Cal. 11 (3.0 mm)</option>
                    <option value="Cal. 10 (3.4 mm)">Cal. 10 (3.4 mm)</option>
                    <option value="Cal. 9 (3.8 mm)">Cal. 9 (3.8 mm)</option>
                    <option value="Cal. 8 (4.2 mm)">Cal. 8 (4.2 mm)</option>
                    <option value="Cal. 7 (4.5 mm)">Cal. 7 (4.5 mm)</option>
                    <option value="Cal. 6 (4.9 mm)">Cal. 6 (4.9 mm)</option>
                    <option value="Cal. 5 (5.3 mm)">Cal. 5 (5.3 mm)</option>
                    <option value="Cal. 4 (5.7 mm)">Cal. 4 (5.7 mm)</option>
                    <option value="Cal. 3 (6.0 mm)">Cal. 3 (6.0 mm)</option>
                    <option value="Cal. 3/4" (19 mm)">Cal. 3/4" (19 mm)</option>
                    <option value="Cal. 5/8"">Cal. 5/8"</option>
                    <option value="Cal. 1/2"">Cal. 1/2"</option>
                    <option value="Cal. 3/8"">Cal. 3/8"</option>
                    <option value="Cal. 5/16"">Cal. 5/16"</option>
                    <option value="Cal. 1/4"">Cal. 1/4"</option>
                    <option value="Cal. 3/16"">Cal. 3/16"</option>
                    <option value="Cal. 1/8"">Cal. 1/8"</option>
                    <option value="Cal. 1/16"">Cal. 1/16"</option>
                </select>
            </div> 

            <div class="inputcontainer">
                <label for="largo">Largo (mm)</label>
                <input type="number" id="largo" name="largo" required>
            </div>

            <div class="inputcontainer">
                <label for="ancho">Ancho (mm)</label>
                <input type="number" id="ancho" name="ancho" required>
            </div>

            <div class="inputcontainer">
                <label for="D">D (mm)</label>
                <input type="number" id="D" name="D" required>
            </div>

            <div class="inputcontainer">
                <label for="d">d (mm)</label>
                <input type="number" id="d" name="d" required>
            </div>

            <div class="inputcontainer">
                <label for="diam_agujeros">Diám. Agujeros (mm)</label>
                <input type="number" id="diam_agujeros" name="diam_agujeros" required>
            </div>

            <div class="inputcontainer">
                <label for="cant_agujeros">Cant. Agujeros</label>
                <input type="number" id="cant_agujeros" name="cant_agujeros" required>
            </div>

            <div class="inputcontainer">
                <label for="perimetro">Perímetro (mm)</label>
                <input type="number" id="perimetro" name="perimetro" required>
            </div>

            <div class="inputcontainer">
                <label for="area">Área (mm^2)</label>
                <input type="number" id="area" name="area" required>
            </div>

            <div class="inputcontainer">
                <label for="dobleces">Dobleces por pieza</label>
                <input type="number" id="dobleces" name="dobleces" required>
            </div>

            <div class="inputcontainer">
                <label for="longitud_doblez">Longitud doblez (mm)</label>
                <input type="number" id="longitud_doblez" name="longitud_doblez" required>
            </div>

            <div class="inputcontainer">
                <label for="con_material">Con material</label>
                <select name="con_material" required>
                    <option value=""></option>
                    <option value="Sí">Sí</option>
                    <option value="No">No</option>
                </select>
            </div> 

            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>