<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir cliente</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <img src="/images/logo.png" alt="logo">

    <h1 class = "title">Mis datos </h1>

    <div class="formcontainer">

        <form action="/editar-datos" method ="post">

            <div class="inputcontainer">
                <input type="text" id="id" name="id" value = "<%= asesorData.id %>">
            </div>

            <div class="inputcontainer">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" value = "<%= asesorData.name %>" required>
            </div>

            <div class="inputcontainer">
                <label for="contrasena">Contraseña</label>
                <input type="text" id="contrasena" name="contrasena" value = "<%= asesorData.password %>" required>
            </div>

            <input type="submit" value="Editar mis datos">
        </form>
    </div>
</body>
</html>