<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar asesor</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <a href="/inicio"><img src="/images/logo.png" alt="logo"></a>

    <h1 class = "title">Eliminar asesor</h1>

    <div class="formcontainer">

        <form action="eliminar-asesor" method ="post" onkeydown="return event.key != 'Enter';" onsubmit="return confirm('Está seguro que quiere eliminar asesor?');">

            <div class="inputcontainer">
                <label for="text">Asesor</label>
                <select name="select">

                    <option value=""></option>

                    <% for (let i = 0; i< Asesores.length; i++){ 
                        
                        if (Asesores[i].is_admin == 1){
                            continue;
                        } else {%>

                        <option value="<%= Asesores[i].name %>" name = "asesor_a_eliminar"><%= Asesores[i].name %></option>

                        <% } %>
                    <% } %>

                </select>
           </div>

            <input type="submit" value="Eliminar asesor">
        </form>
    </div>
</body>
</html>