<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quartec</title>
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <img src="/images/logo.png" alt="logo"><br>
    <a href="/crear-cliente"><button><i class="fa-solid fa-user-plus" style="margin-right: 10px;"></i>Añadir cliente nuevo</button></a><br>
    <a href="/editar-cliente"><button><i class="fa-solid fa-user-pen" style="margin-right: 10px;"></i>Editar datos de cliente</button></a><br>

    <% if (isAdmin == 1) { %>
    <a href="/eliminar-cliente"><button><i class="fa-solid fa-user-minus" style="margin-right: 10px;"></i>Eliminar cliente</button></a><br>
    <a href="/crear-asesor"><button><i class="fa-solid fa-plus" style="margin-right: 10px;"></i>Añadir asesor</button></a><br>
    <a href="/eliminar-asesor"><button><i class="fa-solid fa-minus" style="margin-right: 10px;"></i>Eliminar asesor</button></a><br>
    <a href="/editar-precios"><button><i class="fa-solid fa-file-invoice-dollar" style="margin-right: 10px;"></i>Editar precios</button></a><br>
    <% } %>
    
    <a href="/cotizacion"><button><i class="fa-solid fa-file" style="margin-right: 10px;"></i>Iniciar cotización</button></a><br>
    <a href="/edit-cotizacion"><button><i class="fa-solid fa-file-pen" style="margin-right: 10px;"></i>Editar cotización</button></a><br>
    <a href="/register-cotizacion"><button><i class="fa-solid fa-file-circle-check" style="margin-right: 10px;"></i>Registrar aprobación de cotización</button></a><br>
    <a href="/estado-cotizacion"><button><i class="fa-solid fa-list" style="margin-right: 10px;"></i>Estado de cotizaciones</button></a><br>
    <a href="/download-cotizacion"><button><i class="fa-solid fa-file-arrow-down" style="margin-right: 10px;"></i>Descargar documentos de cotización</button></a><br>
    <% if (isAdmin == 0) { %>
        <a href="/ver-precios"><button><i class="fa-solid fa-table-cells" style="margin-right: 10px;"></i>Visualizar tabla de precios</button></a><br>
    <% } %>


    <% if (isAdmin == 1) { %>
        <a href="/editar-numeracion"><button><i class="fa-solid fa-diagram-next" style="margin-right: 10px;"></i>Ingrese número inicial consecutivo cotizaciones</button></a><br>
        <a href="/data"><button><i class="fa-solid fa-database" style="margin-right: 10px;"></i>Descargar datos</button></a><br>
    <% } %>

</body>
</html>