<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div class = "logoutcontainer">

        <div class = "iconcontainer">

            <a href="/editar-datos">
                <div class="editar-datos">
                    <i class='fas fa-edit'></i>
                </div>
            </a>

            <a href="/logout">
                <div class="log-in">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </div>
            </a>
        </div>
    </div>

    <img src="/images/logo.png" alt="logo"><br>
    <a href="/crear-cliente"><button>Añadir cliente nuevo</button></a><br>
    <a href="/editar-cliente"><button>Editar datos de cliente</button></a><br>

    <% if (isAdmin == 1) { %>
    <a href="/eliminar-cliente"><button>Eliminar cliente</button></a><br>
    <a href="/crear-asesor"><button>Añadir asesor</button></a><br>
    <a href="/editar-asesor"><button>Editar datos de asesor</button></a><br>
    <a href="/eliminar-asesor"><button>Eliminar asesor</button></a><br>
    <% } %>
    
    <a href="/cotizacion"><button>Iniciar cotización</button></a><br>

</body>
</html>