<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://kit.fontawesome.com/81cd34b36e.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class = "logoutcontainer">
        <a href="/logout">
            <div class="log-in">
                <i class="fa-solid fa-right-to-bracket"></i>
            </div>
        </a>
    </div>

    <img src="/images/logo.png" alt="logo"><br>
    <a href="/crear-cliente"><button>Añadir cliente nuevo</button></a><br>
    <a href="/editar-cliente"><button>Editar datos de cliente</button></a><br>
    <a href="/cotizacion"><button>Iniciar cotización</button></a><br>

</body>
</html>